.media:hover {
  cursor: pointer;
}
.media .img-container {
  height: 100%;
  width: 100%;
  min-height: 215px;
  position: relative;
  background-size: cover;
  background-image: url("img/thumb.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.media .media-event-description {
  width: 90%;
  line-height: 1.2rem;
  height: 3.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.media p {
  margin-bottom: 0;
}
.modal .img-container {
  width: 100%;
  height: 200px;
  position: relative;
  background-size: cover;
  background-image: url("https://louisem.com/wp-content/uploads/2016/09/facebook-event-cover-photo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
.modal .list-unstyled {
  width: 100%;
}
